{%load static %}
<title>
    Appointment
</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'css/appointment.css' %}">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{message.tags}}">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="container mt-5 mb-5 d-flex justify-content-center">

    <div class="card px-1 py-4">
        <div class="card-body">
            <h6 class="card-title mb-3">This appointment is for</h6>
            <div class="d-flex flex-row"> <label class="radio mr-1"> <input type="radio" name="add" value="anz" checked> <span> <i class="fa fa-user"></i> Anz CMK </span> </label> <label class="radio"> <input type="radio" name="add" value="add"> <span> <i class="fa fa-plus-circle"></i> Add </span> </label> </div>
            <h6 class="information mt-4">Please provide following information about Anz CMK</h6>
        <form method="post">
        {%csrf_token%}
    <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- <label for="name">Name</label> --> <input readonly class="form-control" value="{{client.user.username}}" type="text" placeholder="Name"> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" value="{{client.phone}}" type="text" readonly placeholder="Mobile"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" value="{{client.address}}" readonly type="text" placeholder="address"> </div>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- <label for="name">Name</label> --> <input class="form-control" value="{{client.user.username}}" type="datetime-local" name="date"> </div>
                </div>
            </div>
            <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div> <button class="btn btn-primary btn-block confirm-button">Confirm</button>
        </form>
        </div>
    </div>
</div>
